@import "tailwindcss";

@theme {
  --color-primary: #636aff;
  --color-hover: #545cef;
  --color-card: #313131;
  --background-color: #1a1a1a;
  --text-color: #ffffff;
  --color-foreground: #a7a7a7;
  --border-color: #313131;
  --card-color: #313131;
  --card-hover-color: #414141;
  --card-text-color: #ffffff;
  --card-border-color: #313131;
  --card-shadow-color: #000000;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-hover);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.pi {
  transition: color 0.25s;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
}
.pi:hover {
  color: var(--color-primary);
}

h1 strong {
  color: #9296e3;
  font-weight: 700;
}

strong {
  font-weight: 500;
  color: #9ea2ed;
}

a {
  text-decoration: underline !important;
  cursor: pointer;
}

.app__timeline ul {
  list-style-type: disc !important;
  margin-left: 1.25rem;
}
