.timeline-block {
  text-align: left;
  border-radius: 20px;
  padding: 3rem 5rem 5rem;
  background-color: #313131;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #313131;
}

.timeline-block__container {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.timeline-block__left {
  flex: 1;
  min-height: 300px;
}

.timeline-block__right {
  flex: 2;
}

.timeline-block img {
  border-radius: 8px;
  width: 100%;
  margin: auto;
  object-fit: cover;
  margin-top: 1rem;
}

.timeline-block__date {
  font-weight: 300;
}

.timeline-block h3 {
  font-size: 2em;
  margin: 1rem 0 0;
  font-weight: 400;
  color: #ffffff;
}

.timeline-block h4 {
  margin: 1.5rem 0 0;
}

.timeline-block li {
  margin: 0.5rem 0;
}

.timeline-block__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-block .toggle {
  border: 1px solid #c0c2ef;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: 500;
  color: #c0c2ef;
  cursor: pointer;
  transition: background-color 0.5s;
}

.toggle.active {
  background-color: #c0c2ef;
  color: #1a1a1a;
}

.toggle:focus {
  outline: 0 !important;
}

.timeline-block .toggle {
  border-radius: 0;
}
.timeline-block .toggle:first-child {
  border-radius: 8px 0 0 8px;
}

.timeline-block .toggle:last-child {
  border-radius: 0 8px 8px 0;
}

.timeline-block__stats .stat-line {
  margin-top: 0.5rem;
}

.skill-name {
  font-weight: 500;
}

.skill-bar {
  border-radius: 5px;
  height: 7px;
  background-color: #1a1a1a;
  position: relative;
}

.skill-bar__fill {
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--primary-color);
}

.read-more {
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}

.read-more:hover {
  color: var(--hover-color);
}

.read-more-container {
  margin-top: 1rem;
}

.columns {
  column-count: 2;
  column-gap: 3rem;
  text-align: justify;
  margin-bottom: 1rem;
}
